/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Variables */

:root {
  --color-slate-1: #1f314f;
  --color-slate-2: #68778d;
  --color-slate-3: #d5e1ef;
  --font-family: "Outfit", serif;
}

/* Global */

html {
  font-size: 62.5%; /* 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-slate-3);
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Code */

.card {
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 12.5px 15px 0px rgba(0, 0, 0, 0.2);
  width: 32rem;
  padding: 1.6rem 1.6rem 4rem 1.5rem;
}

.card__img {
  margin-bottom: 2.4rem;
}

.card__img img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
}

.card h1 {
  color: var(--color-slate-1);
  font-size: 2.2rem;
  line-height: 120%;
  margin-bottom: 1.6rem;
}

.card p {
  color: var(--color-slate-2);
  font-size: 1.5rem;
  line-height: 140%;
  padding: 1.6rem;
  padding-top: 0;
  padding-bottom: 0;
}
